In [1]:
import pandas as pd
import os 
import sqlalchemy
import psycopg2
from time import time
from sqlalchemy import create_engine

/tmp/ipykernel_24/201601709.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [8]:
engine = create_engine('postgresql://admin:admin@postgres:5432/ny_taxi')

In [9]:
engine.connect()

### Yellow

In [2]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [5]:
df_iter = pd.read_csv(url, iterator=True, chunksize=100000)
df = next(df_iter)
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print(f'inserted next chunk..., it took : {t_end-t_start}')
    except StopIteration:
        print("All chunks processed.")
        break
    except Exception as e:
        print(f"An error occurred: {e}")
        break

inserted next chunk..., it took : 5.778282403945923
An error occurred: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

### Green

In [2]:
color = 'green'
prefix = 'result'
format = 'csv'
source_file = f'{color}_{prefix}.{format}'
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz'

In [ ]:
os.system(f"wget {url} -O {source_file}")

In [19]:
df_iter = pd.read_csv(source_file, compression='gzip', iterator=True, chunksize=100000)
df = next(df_iter)
df.head(0).to_sql(name=f'{color}_taxi_data', con=engine, if_exists='replace')
while True:
    try:
        t_start = time()
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
        df.to_sql(name=f'{color}_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print(f'inserted next chunk..., it took : {t_end-t_start}')
        df = next(df_iter)
    except StopIteration:
        print("All chunks processed.")
        break
    except Exception as e:
        print(f"An error occurred: {e}")
        break

inserted next chunk..., it took : 6.128987073898315
inserted next chunk..., it took : 6.332690954208374
inserted next chunk..., it took : 6.053823947906494

/tmp/ipykernel_24/2337376553.py:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted next chunk..., it took : 6.065550804138184
inserted next chunk..., it took : 2.577214002609253
All chunks processed.

In [20]:
df.shape

(49063, 20)

In [13]:
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
100000,2,2019-09-08 21:53:45,2019-09-08 21:59:09,N,1,7,179,1,0.89,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.00
100001,2,2019-09-08 21:26:54,2019-09-08 21:33:10,N,1,7,129,1,2.01,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1,0.00
100002,1,2019-09-08 21:33:39,2019-09-08 21:47:31,N,1,74,213,1,6.20,19.0,0.5,0.5,0.00,0.0,NaN,0.3,20.30,2,1,0.00
100003,2,2019-09-08 21:21:13,2019-09-08 21:35:18,N,1,66,189,1,2.45,11.5,0.5,0.5,3.20,0.0,NaN,0.3,16.00,1,1,0.00
100004,2,2019-09-08 21:43:43,2019-09-08 21:49:48,N,1,33,195,1,1.22,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.00
100005,2,2019-09-08 21:34:03,2019-09-08 21:40:56,N,1,247,116,1,1.42,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1,0.00
100006,2,2019-09-08 21:36:03,2019-09-08 21:50:56,N,1,244,239,1,5.42,18.0,0.5,0.5,4.00,0.0,NaN,0.3,26.05,1,1,2.75
100007,1,2019-09-08 21:08:44,2019-09-08 21:17:46,N,5,82,56,1,0.00,0.0,0.0,0.0,0.00,0.0,NaN,0.0,0.00,2,2,0.00
100008,2,2019-09-08 21:27:09,2019-09-08 21:42:02,N,1,7,75,1,5.26,16.5,0.5,0.5,5.14,0.0,NaN,0.3,25.69,1,1,2.75
100009,1,2019-09-08 21:16:06,2019-09-08 21:48:22,N,1,89,181,1,0.00,18.5,0.5,0.5,0.00,0.0,NaN,0.3,19.80,2,1,0.00

In [4]:
url_lookup = 'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv'

In [5]:
os.system(f"wget {url_lookup} -O taxi_zone_lookup.csv")

--2024-01-28 18:20:57--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... ::ffff:16.182.35.48, ::ffff:52.217.126.72, ::ffff:52.216.94.141, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|::ffff:16.182.35.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 7.85M=0.001s

2024-01-28 18:20:58 (7.85 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

0

In [9]:
lookup = pd.read_csv('taxi_zone_lookup.csv')

In [10]:
lookup.to_sql(name="taxi_lookup", con=engine, if_exists='replace')

265